{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Contact Us{% endblock page_title %}

{% block extra_head %}
    {# Google recaptcha #}
    <script src='https://www.google.com/recaptcha/api.js?render=6LeL93UUAAAAAJTJyBZKtQ45-5z_1d1FKF4kDDjh'></script>
{% endblock extra_head %}

{% block content %}

  {% include 'contact/_masthead_contact.html' %}

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-4">
          Contact Us
        </h1>

        <p>We'd love to hear from you.</p>

        {% crispy form %}

      </div>
    </div>
  </div>

{% endblock content %}

