[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version = "*", extras = ["argon2"]}
django-extensions = "*"
django-allauth = "*"
django-compressor = "*"
django-environ = "*"
"psycopg2-binary" = "*"
pylint = "*"
black = "==18.6b4"
rules = "*"
libsass = "*"
django-recaptcha = "*"
django-crispy-forms = "*"
bleach = "*"
pillow = "*"
sorl-thumbnail = "*"

[dev-packages]
"flake8" = "*"
mypy = "*"
pylint = "*"
icecream = "*"
ipdb = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest-faker = "*"
django-debug-toolbar = "*"
factory-boy = "*"

[requires]
python_version = "3.6"
