{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}{{ event.name }}{% endblock page_title %}

{% block extra_head %}
    <style>
      #map {
        height: 550px;
        width: 700px;
       }
    </style>
{% endblock extra_head %}


{% block content %}

  <header class="masthead faqs text-white text-center mb-4">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">How does this work?<br />
            Click a role below to learn more.
          </h1>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <h1>
      {{ event.name }}
    </h1>

    <div class="media mb-4 mt-4">
      <div class="media-left media-middle">
        {% with 'img/icons/'|add:event.event_type|add:".png" as iconfilepath  %}
          <img
            class="media-object"
            src="{% static iconfilepath %}"
            alt="{{ event.get_event_type_display }}"
            width="75px"
          />
        {% endwith %}
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ event.get_event_type_display }} Event</h4>
        {{ event.about }}
      </div>
    </div>

    <p>
      <b>Start date/time:</b><br />
      {{ event.start }}
    </p>

    <p>
      <b>Start location:</b><br />
      {{ event.place_name }},
      {{ event.address }},
      {{ event.city }},
      {{ event.state_province }}
      ({{ event.get_country_display }})
    </p>


    <p>
      <b>Map to meeting place:</b><br />
      <div id="map"></div>
    </p>

    <p>
      <b>Register / More Information / Website:</b><br />
      <a href="{{ event.official_event_site_url }}" target="_blank">
        {{ event.official_event_site_title }}
      </a>
    </p>

    <p>
      <b>Routes:</b>
      <ul>
      {% for route in event.route_set.all %}
        <li>
          <a href="{{ route.url }}" target="_blank">{{ route.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </p>


    <p>
      <b>Organizations:</b>
      <ul>
      {% for org in event.organizations.all %}
        <li>
          {{ org }}
        </li>
      {% endfor %}
      </ul>
    </p>

    <p>
      <b>Human Contact{{ event.humans.all.count|pluralize }}:</b><br />
      <ul>
      {% for human in event.humans.all %}
        <li>
          <a href="{% url 'users:profile' human.username %}">{{ human.get_full_name }} (TITLE)</a>
        </li>
      {% endfor %}
      </ul>
    </p>

    {% if user.is_superuser %}
    <hr />
      <p>
        <a href="{% url 'admin:events_event_change' event.id %}" class="btn btn-sm btn-primary">Edit</a>
      </p>
    {% endif %}

  </div>
{% endblock content %}

{% block extra_foot %}

  <script>
    function initMap() {
    var eventplace = { lat: {{ event.latitude }}, lng: {{event.longitude}} };
    var map = new google.maps.Map(
      document.getElementById('map'), {
        zoom: 14,
        center: eventplace,
        streetViewControl: false
      }
    );
    // Add a marker
    var marker = new google.maps.Marker({position: eventplace, map: map});
  }
  </script>
  <script
    async
    defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap">
  </script>
{% endblock extra_foot %}


