{% extends 'base.html' %}

{% block page_title %}Events{% endblock page_title %}

{% block content %}

  <header class="masthead faqs text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">How does this work?<br />
            Click a role below to learn more.
          </h1>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
      <h1>
          Events
      </h1>
      <table class="table">
        <tr>
          <th>
            Date
          </th>
          <th>
            Event
          </th>
          <th>
            Region
          </th>
        </tr>
      {% for event in events_future %}
        <tr>
          <td>
            {{ event.start|date:"M d, Y" }}
          </td>
          <td>
            <a href="">{{ event }}</a>
          </td>
          <td>
            {{ event.city }}, {{ event.state_province }} ({{ event.get_country_display }})
          </td>
        </tr>
      {% endfor %}
      </table>
  </div>
{% endblock content %}
