{% extends 'base.html' %}

{% block page_title %}Events{% endblock page_title %}

{% block content %}

  <header class="masthead faqs text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">How does this work?<br />
            Click a role below to learn more.
          </h1>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
      <h1>
        {% if tense == "past" %}Past{% else %}Upcoming{% endif %} Events
      </h1>
      <table class="table">
        <tr>
          <th>
            Date
          </th>
          <th>
            Event
          </th>
          <th>
            Type
          </th>
          <th>
            Region
          </th>
        </tr>
      {% for event in events %}
        <tr>
          <td>
            {{ event.start|date:"M j, Y" }}
          </td>
          <td>
            <a href="{% url 'events:detail' event.id event.slug %}">{{ event }}</a>
          </td>
          <td>
            {{ event.get_event_type_display }}
          </td>
          <td>
            {{ event.city }}, {{ event.state_province }} ({{ event.get_country_display }})
          </td>
        </tr>
      {% endfor %}
      </table>

      {% if tense == "past" %}
        <a class="btn btn-primary" href="{% url 'events:index' %}">See Upcoming Events</a>
      {% else %}
        <a class="btn btn-primary" href="{% url 'events:index' tense='past' %}">See Past Events</a>
      {% endif %}

  </div>
{% endblock content %}
