{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}Manage events{% endblock page_title %}

{% block extra_head %}
  <style>
    #map {
      height: 550px;
      width: 700px;
      }
  </style>

  <link href="{% static 'node_modules/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_head %}

{% block content %}

  <header class="masthead events text-white text-center mb-4">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Manage events</h1>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <h3>
      Edit Event: {{ event.title }}, {{event.start|date:"Y-m-d h:m:s"}}
    </h3>

    <form action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          {{ form.title|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.event_type|as_crispy_field }}
        </div>
       </div>

      <div class="row">
        <div class="col">

          <label for="id_start" class="col-form-label">Start Date and Time</label>
          <div class="input-group date" id="datetimepicker" data-target-input="nearest">
            <input
              type="text" class="form-control datetimepicker-input"
              data-target="#id_start" name="start" id="id_start"
              value={{event.start|date:"Y-m-d h:m:s"}}
            />
            <div class="input-group-append" data-target="#id_start" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
          <small id="hint_id_start" class="form-text text-muted">Date and time for start of event. Currently saved: {{event.start|date:"Y-m-d h:m:s"}}</small>

        </div>
      </div>

      <div class="row">
        <div class="col">
          {{ form.official_event_site_url|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.official_event_site_title|as_crispy_field }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {{ form.about|as_crispy_field }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {{ form.place_name|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.address|as_crispy_field }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {{ form.city|as_crispy_field }}
        </div>
        <div class="col">
          {{ form.state_province|as_crispy_field }}
        </div>
       </div>

      <div class="row">
        <div class="col">
          {{ form.country|as_crispy_field }}
        </div>
      </div>

      {# Hidden fields capture results of map changes for saving to DB #}
      <input type="hidden" name="latitude" value="{{ form.latitude.value }}" step="1e-12" class="numberinput form-control" id="id_latitude">
      <input type="hidden" name="longitude" value="{{ form.longitude.value }}" step="1e-12" class="numberinput form-control" id="id_longitude">
      <input type="hidden" name="zoom" value="{{ form.zoom.value }}" class="numberinput form-control" required="" id="id_zoom">

      {# Non-form map element writes results to hidden lat/long/zoom form fields #}
      <div class="row">
        <div class="col">
          <p>
            <b>Center map on the event meeting place.
            Map will appear to users as seen here.</b>
          </p>
          <div id="map"></div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          {{ form.published|as_crispy_field }}
        </div>
      </div>

      <div class="row mt-4 mb-4">
        <div class="col">
          <button class="btn btn-primary" type="submit">Save Changes</button>
        </div>
      </div>

    </form>

  </div>
{% endblock content %}

{% block extra_foot %}

<script>
  // Enable datetime picker
  $(function () {
      $('#id_start').datetimepicker(
        {
          "format": "YYYY-MM-DD h:mm:ss",
        }
      );
  });

  function initMap() {

    gMap = new google.maps.Map(document.getElementById('map'));

    {# Does event have existing coords? If so, use them; otherwise set them. #}
    {% if event.latitude and event.longitude %}

      var marker = new google.maps.LatLng( {{ event.latitude }}, {{ event.longitude }} );
      gMap.setCenter(marker);
      gMap.setZoom({{ event.zoom }});

    {% else %}

      navigator.geolocation.getCurrentPosition(function(position) {
          // Center on user's current location if geolocation prompt allowed
          var marker = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          gMap.setCenter(marker);
          gMap.setZoom({{ event.zoom }});
        }, function(positionError) {
          // User denied geolocation prompt - default to Chicago
          var marker = new google.maps.LatLng(39.8097343, -98.5556199)
          gMap.setCenter(marker);
          gMap.setZoom(5);
        }
      );

    {% endif %}

      // Update lat, lng, zoom fields when map is moved or zoomed.
      gMap.addListener('dragend', function() {
        var newCenter = gMap.getCenter();
        $('#id_latitude').val(newCenter.lat());
        $('#id_longitude').val(newCenter.lng());
      });

      gMap.addListener('zoom_changed', function() {
        var newZoom = gMap.getZoom();
        $('#id_zoom').val(newZoom);
      });
  }
</script>
  <script
    async
    defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap">
  </script>

  {# Datepicker support #}
  <script src="{% static 'node_modules/moment/min/moment.min.js' %}"></script>
  <script src="{% static 'node_modules/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>

{% endblock extra_foot %}


