{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}Manage events{% endblock page_title %}

{% block extra_head %}
    <style>
      #map {
        height: 550px;
        width: 700px;
       }
    </style>
{% endblock extra_head %}

{% block content %}

  <header class="masthead events text-white text-center mb-4">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Manage events</h1>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <h3>
      Edit/Manage Event: {{ event.title }}, {{ event.start|date:"M j, Y" }}
    </h3>

    <form action="" method="post">
      {{ form|crispy }}

      <p>
        <b>Center this map on the event meeting place with desired zoom level. Map will appear to users as you set it here.</b><br />
        <div id="map"></div>
      </p>
    </form>

  </div>
{% endblock content %}

{% block extra_foot %}

<script>
  function initMap() {

  gMap = new google.maps.Map(document.getElementById('map'));

  {# Does this event have an existing location? If so, use it; otherwise set one. #}
  {% if event.latitude and event.longitude %}

    var initialLocation = new google.maps.LatLng( {{ event.latitude }}, {{ event.longitude }} );
    gMap.setCenter(initialLocation);
    gMap.setZoom(13);

  {% else %}

    navigator.geolocation.getCurrentPosition(function(position) {
      // Center on user's current location if geolocation prompt allowed
      console.log("have")
      var initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      gMap.setCenter(initialLocation);
      gMap.setZoom(13);
    }, function(positionError) {
      console.log("dont have")
      // User denied geolocation prompt - default to Chicago
      gMap.setCenter(new google.maps.LatLng(39.8097343, -98.5556199));
      gMap.setZoom(5);
    });
  {% endif %}
  }
</script>
  <script
    async
    defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap">
  </script>
{% endblock extra_foot %}


