{% extends "base.html" %}

{% block page_title %}Event Search Results{% endblock page_title %}

{% block content %}

  <header class="masthead events text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
    <div class="col-xl-9 mx-auto">
      <h1 class="mb-5">Find an Event<br />
      Bike, Swim, Run, Hike
      </h1>
    </div>
    </div>
  </div>
  </header>

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-4">
          Search Results for: {{ q }}
        </h1>

        {% if items %}
          {% for item in items %}
            <div class="card mb-3">
              <h5 class="card-header">
                <a href="{% url 'events:detail' item.id item.slug %}">{{ item.name }}</a>
              </h5>
              <div class="card-body">
                <h5 class="card-title">
                  {{ item.start|date:"M j, Y" }}, {{ item.city }}, {{ item.state_province }} ({{ item.get_country_display }})
                </h5>
                <p class="card-text">
                  {% if item.about %}
                    {{ item.about|safe }}
                  {% else %}
                    {{ item.about|truncatewords:20|safe }}
                  {% endif %}
                </p>
              </div>
            </div>
          {% endfor %}

        {% else %}
          <p>No results found, sorry.</p>
        {% endif %}

        {% include 'core/_pagination.html' %}

      </div>
    </div>
  </div>

{% endblock content %}
