{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  <div class="container">
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
      <p>
        Please sign in with one of your social accounts:
      </p>

      <div class="socialaccount_ballot">

        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

      </div>

      <p>
        ... or sign in below (<a href="{{ signup_url }}">sign up</a> if you don't already have an account):
      </p>

      {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
      <p>{% blocktrans %}If you have not yet created an account, please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}

      <div class="form-group col-sm-4">
        <label for="login">Username</label>
              <input
                class="form-control"
                type="text"
                name="login"
                placeholder="Username"
                autofocus="autofocus"
                maxlength="150"
                required=""
                id="id_login"
              >
      </div>

      <div class="form-group col-sm-4">
        <label for="login">Password</label>
              <input
                class="form-control"
                type="text"
                name="password"
                placeholder="Password"
                required="required"
                id="id_password"
              >
      </div>

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>

  </div>
{% endblock %}
