{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}About{% endblock page_title %}

{% block content %}

  <header class="masthead about text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Your event photos, organized.<br />
          </h1>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-4">
          About athlete.photo
        </h1>

        <p>
          Three groups make up every marathon, century, track meet, mudder or triathlon: Participants,
          Organizers, and Photographers. athlete.photo is where those three groups come together.
        </p>

        <p>
          <b>Event Participants</b> finally have a place not just to find the photos of them at their last big
          event, but from <i>all</i> of their events. Participants can tag themselves in photos and give them
          captions, even if they don't purchase the photos. Tagged photos are then grouped by event under your
          profile, creating a free gallery for all of your events.
        </p>

        <p>
          <b>Event Organizers</b> have an easy way to publish details about an upcoming event, with maps,
          start times, notes, support and contact information, and a link to the main event site.
        </p>

        <p>
          <b>Event Photographers</b> can register themselves as available in a given region, photograph
          participants during the event, and can publish photos here on athlete.photo. Photographers can
          choose their own watermarks, set their own prices, and show off their best photos.
        </p>

        <p>
          Nutshell version: athlete.photo is where participants, organizers, and photographers come together
          on professional event and photograph-publishing platform.
        </p>

        <p>
          How is athlete.photo different from other event photo sites? Rather than just purchase a photo and move on,
          here on athlete.photo, purchasing a photo allows other visitors to see the "unlocked" photo on your profile
          and in Event Galleries. Purchasing a photo unlocks it for everyone!

          Also, AP lets users upload their own photos, and people can tag themselves whether the main photog or another person uploaded them.
        </p>

      </div>
    </div>
  </div>

{% endblock content %}
