{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    {{ section_title }}
                </h1>

                {% if section_title == "Photographers" %}
                    <dl>
                        <dt>
                            How do I take a photo
                        </dt>
                        <dd>
                            Do it like this
                        </dd>

                        <dt>
                                How do I...
                        </dt>
                        <dd>
                            Do it like this
                        </dd>
                    </dl>
                {% endif %}

                {% if section_title == "Organizers" %}
                    <dl>
                        <dt>
                            How do I organize
                        </dt>
                        <dd>
                            Do it like this
                        </dd>

                        <dt>
                                How do I...
                        </dt>
                        <dd>
                            Do it like this
                        </dd>
                    </dl>
                {% endif %}

                {% if section_title == "Participants" %}
                    <dl>
                        <dt>
                            How do I participate
                        </dt>
                        <dd>
                            Do it like this
                        </dd>

                        <dt>
                                How do I...
                        </dt>
                        <dd>
                            Do it like this
                        </dd>
                    </dl>
                {% endif %}


            </div>
        </div>
    </div>

{% endblock content %}
