header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../img/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }

  header.masthead h1 {
    font-size: 2rem;
  }

  header.masthead.faqs {
    background: url("../img/bg-faqs.jpg") no-repeat center center;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  header.masthead.about {
    background: url("../img/bg-about.jpg") no-repeat center center;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  header.masthead.events {
    background: url("../img/bg-events.jpg") no-repeat center center;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  header.masthead.profiles {
    background: url("../img/bg-profiles.jpg") no-repeat center center;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }


  header.masthead.contact {
    background: url("../img/bg-contact.jpg") no-repeat center center;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h1 {
      font-size: 2.5rem;
    }
  }
